${require('./header.html')}
			
            <!-- site content -->
			<main class="site-content">
				<section class="section-hero-slider flex-x-c">
					<div class="hero-slider-wrap w-100 max-w-820px">
						<div class="hero-slider-full-width">
							<ul class="lightslider cS-hidden" id="lightslider-1">
		            <li class="lightslider-item">
	                <div class="slide" style="background-image: url(${require('./img/slider.jpg')})">
		                <a class="link-slider" href="#">
		                	<h1 class="h1-large title-slider">
		                		Shop Lyle & Scott
		                		<span class="icon-angle_right"></span>
		                	</h1>
		                </a>
	                </div>
		            </li>
		            <li class="lightslider-item">
	                <div class="slide" style="background-image: url(${require('./img/slider.jpg')})">
		                <a class="link-slider" href="#">
		                	<h1 class="h1-large title-slider">
		                		Shop Lyle & Scott
		                		<span class="icon-angle_right"></span>
		                	</h1>
		                </a>
	                </div>
		            </li>
		            <li class="lightslider-item">
	                <div class="slide" style="background-image: url(${require('./img/slider.jpg')})">
		                <a class="link-slider" href="#">
		                	<h1 class="h1-large title-slider">
		                		Shop Lyle & Scott
		                		<span class="icon-angle_right"></span>
		                	</h1>
		                </a>
	                </div>
		            </li>
		            <li class="lightslider-item">
	                <div class="slide" style="background-image: url(${require('./img/slider.jpg')})">
		                <a class="link-slider" href="#">
		                	<h1 class="h1-large title-slider">
		                		Shop Lyle & Scott
		                		<span class="icon-angle_right"></span>
		                	</h1>
		                </a>
	                </div>
		            </li>
		            <li class="lightslider-item">
	                <div class="slide" style="background-image: url(${require('./img/slider.jpg')})">
		                <a class="link-slider" href="#">
		                	<h1 class="h1-large title-slider">
		                		Shop Lyle & Scott
		                		<span class="icon-angle_right"></span>
		                	</h1>
		                </a>
	                </div>
		            </li>
							</ul>
						</div>
					</div>
				</section>

				<section class="section-new-in">
					<div class="container">
						<div class="row m-x-0 flex-x-c row-title overflow-hidden relative">
							<div class="border-top"></div>
							<a class="btn btn-small btn-1" href="#">
								New in
								<span class="icon-angle_right"></span>
							</a>
						</div>
						<div class="row row-new-in-blocks">
							<div class="col col-4 col-md-4 col-sm-6 col-xs-12 flex-x-c">
								<div class="new-in-block">
									<div class="image section-bg" style="background-image: url(${require('./img/cta-1.jpg')})"></div>
									<a class="text-wrap bg-ad-8" href="#">
										<div class="table-real">
											<h6 class="title td-real p all-caps">
												Shop G-Star
		                		<span class="icon-angle_right"></span>
											</h6>
										</div>
									</a>
								</div>
							</div>
							<div class="col col-4 col-md-4 col-sm-6 col-xs-12 flex-x-c">
								<div class="new-in-block">
									<div class="image section-bg" style="background-image: url(${require('./img/cta-2.jpg')})"></div>
									<a class="text-wrap bg-ad-9" href="#">
										<div class="table-real">
											<h6 class="title td-real p all-caps">
												Shop Replay
		                		<span class="icon-angle_right"></span>
											</h6>
										</div>
									</a>
								</div>
							</div>
							<div class="col col-4 col-md-4 col-sm-6 col-xs-12 flex-x-c">
								<div class="new-in-block">
									<div class="image section-bg" style="background-image: url(${require('./img/cta-3.jpg')})"></div>
									<a class="text-wrap bg-ad-10" href="#">
										<div class="table-real">
											<h6 class="title td-real p all-caps">
												Shop Barbour
		                		<span class="icon-angle_right"></span>
											</h6>
										</div>
									</a>
								</div>
							</div>						
						</div>
					</div>
				</section>

				<section class="section-brands">
					<div class="container">
						<div class="row m-x-0 flex-x-c row-title overflow-hidden relative">
							<div class="border-top"></div>
							<a class="btn btn-small btn-1" href="#">
								Brands
								<span class="icon-angle_right"></span>
							</a>
						</div>
						<div class="flex-x-c brand-blocks-wrap">
							<div class="w-100 max-w-820px">
								<div class="row inner flex-x-c">
									<a class="col brand-block flex-c flex-grow" href="#">
	                   <img src="${require('./img/logo-1.jpg')}">
									</a>
									<a class="col brand-block flex-c flex-grow" href="#">
	                   <img src="${require('./img/logo-2.jpg')}">
									</a>
									<a class="col brand-block flex-c flex-grow" href="#">
	                   <img src="${require('./img/logo-3.jpg')}">
									</a>
									<a class="col brand-block flex-c flex-grow" href="#">
	                   <img src="${require('./img/logo-4.jpg')}">
									</a>
									<a class="col brand-block flex-c flex-grow" href="#">
	                   <img src="${require('./img/logo-5.jpg')}">
									</a>
								</div>
							</div>
						</div>
						<div class="row m-x-0 border-top"></div>
					</div>
				</section>
			</main>
            <!-- /site content -->

${require('./footer.html')}