/* Site content */

.site-content { 
  padding-bottom: 50px;
}
.border-top {
  border-top: 1px solid $c_ad_1;
}
.border-bottom {
  border-bottom: 1px solid $c_ad_1;
}
.input {
  height: 40px;
  line-height: 40px;
  letter-spacing: 0.04em;
  padding-right: 18px;
  padding-left: 18px;
  &:focus {
    border-color: $c_ad_4 !important;  
  }
}
.t-50 {
  top: 50%;
}

// Widths
.max-w-820px {
  max-width: 820px;
}
.max-w-400px {
  max-width: 400px;
}
.max-w-240px {
  max-width: 240px;
}
.w-100 {
  width: 100%;
}
/**/

// Buttons
body {
  .btn-inner-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .btn-inner-table {
    position: relative;
    display: table;
    top: 1px;
  }
  .btn,
  a.btn {
    display: inline-flex !important;
    justify-content: center;
    min-width: 270px;
    padding: 8px 10px;
    @extend .h2;
    font-weight: 700;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 2;
    [class^="icon-"] {
      margin-left: 3px;
    }
    h5, .h5,
    h6, .h6 {
      text-transform: none;
    }
    .btn-inner-cell {
      height: calc(44px - 8px * 2);
    }
  }
  .btn.btn-small,
  a.btn.btn-small {
    min-width: 142px;
    letter-spacing: 0.1em;
    @extend .p;
    .btn-inner-cell {
      height: calc(35px - 8px * 2);
    }
    .icon-angle_right {
      position: relative;
      top: 1px;
    }
  }
  .btn-1 {
    background-color: $c_white;
    border: 1px solid $c_ad_1;
    &,
    &:hover,
    &:active,
    &:focus,
    &:visited {
      color: $c_ad_4;
    }
    &:hover {
      border-color: $c_ad_4;      
    }
  }
}
.table-real {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.td-real {
  display: table-cell;
  vertical-align: middle;
}
/**/

// Slider
body {
  .lightSlider.one-item {
    .lightslider-item:not(.active) {
      &,
      &:after {
       opacity: 0;
      }
    }
  }
  .lSSlideOuter,
  .lSSlideWrapper,
  .lightSlider {
    overflow: visible !important;
  }
  .lSSlideOuter {
    position: relative;
    /*&:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100vw;
      background-color: rgba($c_white, .3);
      z-index: 2;
    }
    &:before {
      right: calc(100% + 10px);
      left: auto;
    }
    &:after {
      right: auto;
      left: calc(100% + 10px);
    }*/
  }
  .lSAction {
    @extend .block-y-c;
    width: 100%;
    &>a {
      @extend .block-y-c;
      @extend .icon;
      width: auto;
      height: auto;
      padding: 20px;
      margin: 0;
      @extend .h1-large;
      color: $c_white;
      opacity: 1;
    }
    &>.lSNext {
      right: 0;
      left: auto;
      &:before {
        @extend .icon-angle_right:before;
      }
    }
    &>.lSPrev {
      right: auto;
      left: 0;
      &:before {
        @extend .icon-angle_left:before;
      }
    }
  }
  .lSPager.lSpg {
    margin-top: 16px !important;
  }
  .lSSlideOuter .lSPager.lSpg > li {
    padding-right: 5px;
    padding-left: 0;
    &:last-child {
      padding-right: 0;
    }
  }
  .lSSlideOuter .lSPager.lSpg > li a {
    background-color: $c_ad_7;
    transition: all .15s ease-in-out !important;
  }
  .lSSlideOuter .lSPager.lSpg > li.active a,
  .lSSlideOuter .lSPager.lSpg > li:hover a {
    background-color: $c_ad_4;
  }
  .lightslider-item {
    position: relative;
    //height: 490px;
    margin-right: 10px;
    &:after {
      content: "";
      @extend .block-fit-parent;
      background-color: $c_white;
      opacity: .75;
    }
    .title-slider {
      opacity: 0;
    }
    &:after,
    .title-slider {
      transition: opacity .2s ease-in-out;
    }
    &.active {
      &:after {
        opacity: 0;
      }
      .title-slider {
        opacity: 1;
      }
    }
    .slide {
      position: relative;
      width: 100%;
      padding-top: 59.76%;
      @extend .section-bg;
    }
    .link-slider {
      @extend .block-y-b;
      width: 100%;
      text-align: center;
      padding: 48px 50px;
      z-index: 3;
      .title-slider {
        position: relative;
        display: inline-block;
        padding-right: 38px;
        margin-right: -5px;
        color: $c_white;
        text-decoration: underline;
        .icon-angle_right {
          position: absolute;
          top: 6px;
          right: 0;
          bottom: auto;
          left: auto;
          color: $c_white;
        }
      }
    }
  }
}

@media(max-width: $bp_lg) {
  body {
    .lightslider-item {
      .link-slider {
        padding: calc(50px * .8);
        .title-slider {
          padding-right: calc(38px * .8);
          margin-right: 0;
          .icon-angle_right {
            top: calc(6px * .8);
          }
        }
      }
    }
  }
}

@media(max-width: $bp_md) {
  html body {
    .lSAction {
      &>a {
        padding: 12px;
      }
    }
    .lightslider-item {
      .link-slider {
        padding: calc(50px * .6);
        .title-slider {
          padding-right: calc(38px * .6);
          .icon-angle_right {
            top: calc(6px * .6);
          }
        }
      }
    }
  }
}

@media(max-width: $bp_sm) {
  html body .site-wrap {
    .lightslider-item {
      .link-slider {
        .title-slider {
          padding-right: calc(38px * .5);
          .icon-angle_right {
            top: calc(6px * .5);
          }
        }
      }
    }
  }
}

/**/

// Section New In
.section-new-in {
  margin-top: 44px;
}
.row-new-in-blocks {
  margin-top: calc(50px - 10px);
  margin-bottom: -10px;
}
.new-in-block {
  width: 100%;
  max-width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  .image {
    width: 100%;
    padding-top: 99.2%;
  }
  .text-wrap {
    margin-top: -1px;
    .td-real {
      width: 100%;
      height: 47px;
      padding: 8px 10px;
      text-align: center;
      color: $c_white;
      .icon-angle_right {
        position: relative;
        top: 1;
        margin-right: -6px;
        margin-left: 6px;
      }
    }
  }
}
.row-title {
  &>.border-top {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: auto;
    left: 0;
  } 
}
/**/

// Section Brands
.section-brands {
  margin-top: 46px;
}
.brand-blocks-wrap {
  padding-top: 3px;
  padding-bottom: 17px;
  margin-top: -10px;
  margin-bottom: -10px;
}
.brand-block {
  padding-top: 10px;
  padding-bottom: 10px;
  /*&:first-child {
    justify-content: flex-start;
  }
  &:last-child {
    justify-content: flex-end;
  }*/
}
/**/