/* Typography */

// Add fonts
@font-face {
    font-family: 'Karla';
    src: url('../fonts/Karla-BoldItalic.eot');
    src: url('../fonts/Karla-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Karla-BoldItalic.woff') format('woff'),
        url('../fonts/Karla-BoldItalic.ttf') format('truetype'),
        url('../fonts/Karla-BoldItalic.svg#Karla-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: '../fonts/Karla';
    src: url('../fonts/Karla-Bold.eot');
    src: url('../fonts/Karla-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Karla-Bold.woff') format('woff'),
        url('../fonts/Karla-Bold.ttf') format('truetype'),
        url('../fonts/Karla-Bold.svg#Karla-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/Karla-Regular.eot');
    src: url('../fonts/Karla-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Karla-Regular.woff') format('woff'),
        url('../fonts/Karla-Regular.ttf') format('truetype'),
        url('../fonts/Karla-Regular.svg#Karla-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/Karla-Italic.eot');
    src: url('../fonts/Karla-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Karla-Italic.woff') format('woff'),
        url('../fonts/Karla-Italic.ttf') format('truetype'),
        url('../fonts/Karla-Italic.svg#Karla-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

// Headings
.p, body {
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $c_default;
}
h1,
.h1 {
  font-family: 'Karla', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.035em;
  text-transform: uppercase;
}
.h1-large {
  font-family: 'Karla', sans-serif;
  font-size: 42px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.035em;
  text-transform: none;
}
h2,
.h2 {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.065em;
  text-transform: uppercase;
}
h3,
.h3 {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
h5,
.h5 {
  font-family: 'Karla', sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.2;
}
h6,
.h6 {
  font-family: 'Karla', sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.2;
}
a {
  text-decoration: none !important;
  color: $c_default;
  &:hover {
    color: $c_light;
  }
}
.ls-005 {
  letter-spacing: 0.05em;
}

@media(max-width: $bp_lg) {
  .h1-large {
    font-size: calc(42px * .8);
  }
}

@media(max-width: $bp_md) {
  body .h1-large {
    font-size: calc(42px * .6);
  }
}

@media(max-width: $bp_sm) {
  html body .h1-large {
    font-size: calc(42px * .5);
  }
}

/**/

// Icon font
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?g0qw9w');
  src:  url('../fonts/icomoon.eot?g0qw9w#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?g0qw9w') format('truetype'),
    url('../fonts/icomoon.woff?g0qw9w') format('woff'),
    url('../fonts/icomoon.svg?g0qw9w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon,
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\f002";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-angle_left:before {
  content: "\f104";
}
.icon-angle_right:before {
  content: "\f105";
}
